@model mblyakher_bugtracker.Models.Helpers.AdminUserViewModels

@{
    ViewBag.Title = "EditUserRoles";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Admin Action Edit User Roles</h2>
    </div>
</header>
<div class="container-fluid">
    <div class="row bg-white has-shadow" style="margin-top:25px; margin-bottom:25px;">
        <div class="col-lg-12" style="padding:10px;">
            <h2>Edit User Roles</h2>
            <hr />

            @using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post))
            {
                <h4>
                    @Html.DisplayFor(model => model.User.FullName)
                    <input type="submit" value="Assign Roles" class="btn btn-default pull-right" style="margin-top:-7px;" />
                </h4>
                <hr />
                @Html.HiddenFor(model => model.User.Id)
                @Html.ListBox("SelectedRoles", Model.Roles)
            }

            <div style="margin-top:40px;">
                @Html.ActionLink("Back to Admin Index", "Index")
            </div>
        </div>
    </div>
</div>